.forget-password-container {
    padding: 6rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .content-container {
        flex-direction: column;
    }
    .button-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        button {
            font-size: 0.8rem;
        }
    }
}