<div class="forget-password-container">
    <p-toast></p-toast>
    <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex content-container">
                        <div class="">
                            <p-floatlabel variant="on">
                                <input [(ngModel)]="emailInput" pInputText id="on_label" autocomplete="off" />
                                <label style="font-size: 0.8rem;" for="on_label">Email</label>
                            </p-floatlabel>
                        </div>
                        <div class="button-wrapper">
                            <p-button icon="pi pi-arrow-right" iconPos="right" (onClick)="goToSecondStep(2, activateCallback)"/>
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex content-container">
                        <div class="">
                            <p-inputotp [(ngModel)]="otpInput" [length]="6" />
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <p-button severity="secondary" icon="pi pi-arrow-left" (onClick)="goToSecondStep(1, activateCallback)" />
                        <p-button severity="success" label="Success" (onClick)="submitForgetPass()"/>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>