<div class="container-fluid app-header">
  <p-toast></p-toast>
  <p-confirmdialog />
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-8 col-8 offset-1 navbar-wrapper">
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNavAltMarkup"
      >
        <ul class="navbar-nav">
          <!-- @if(roleId == 1 || !roleId){ -->
          <li class="nav-item mx-3">
            <a class="nav-link" aria-current="true" href="#">{{
              "header.home" | translate
            }}</a>
          </li>

          <li class="nav-item mx-3">
            <a class="nav-link" href="" [routerLink]="['/Intro']">{{
              "header.intro" | translate
            }}</a>
          </li>

          <li class="nav-item mx-3">
            <a class="nav-link" href="" [routerLink]="['/news']">{{
              "header.news" | translate
            }}</a>
          </li>

          <li class="nav-item mx-3">
            <a class="nav-link" href="" [routerLink]="['/contact']">{{
              "header.contact" | translate
            }}</a>
          </li>

          <li class="nav-item mx-3">
            <a class="nav-link" href="" [routerLink]="['/All']">{{
              "header.allProducts" | translate
            }}</a>
          </li>
          <!-- } -->
          <!-- @else if (roleId == 2) {
        <li class="nav-item mx-3">
          <a class="nav-link" aria-current="true" href="#">Trang chủ</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="" [routerLink]="['/userManage']"
            >Quản lý người dùng</a
          >
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="" [routerLink]="['/orderManage']"
            >Quản lý đơn hàng</a
          >
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="" [routerLink]="['/uploadProduct']"
            >Thêm sản phẩm</a
          >
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="" [routerLink]="['/categoryManage']"
            >Quản lý danh mục</a
          >
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="" [routerLink]="['/allProduct']"
            >Tất cả sản phẩm</a
          >
        </li>
        } @else {} -->
        </ul>
      </div>
    </div>

    <div
      class="col-lg-2 col-md-2 col-sm-3 col-1 offset-md-2 offset-lg-2 offset-xl-4 offset-sm-5 flex information-wrapper"
    >
      @if (!userInfor.id) {
      <h3 [routerLink]="['/Login']" class="header-login">
        {{ "header.login" | translate }}
      </h3>
      <h3 [routerLink]="['/Register']" class="header-register">
        {{ "header.register" | translate }}
      </h3>
      } @else {
      <p-avatar
        class="avatar"
        [image]="userInfor.avatarUrl"
        class="mr-2"
        shape="circle"
        (click)="profileMenu.toggle($event)"
      />

      <p-menu #profileMenu [model]="profileItems" [popup]="true" />
      }

      @if (userInfor.id) {
        <p-overlaybadge [value]="badgeValue" severity="danger">
          <i (click)="toggleCart()" class="pi pi-shopping-cart" style="font-size: 1.6rem"></i>
        </p-overlaybadge>
      }
      <!-- Cart Menu -->
      <div class="cart-container">
        
        <div class="cart-menu" [class.active]="isCartOpen">
          <div class="cart-header">
            <h3>Your Cart</h3>
            <button class="close-btn" (click)="toggleCart()">
              <i class="pi pi-times"></i>
            </button>
          </div>
          
          @if (productsInCart.length > 0) {
            <div class="cart-body">
              @for (product of productsInCart; track $index) {
                <div class="cart-item">
                  <div class="item-image">
                    <img [src]="product.imageUrl" [alt]="product.name">
                  </div>
                  <div class="item-details">
                    <h4>{{ product.name }}</h4>
                    <p class="item-color">Color: {{ product.colorName }}</p>
                    <p class="item-size">Size: {{ product.sizeNumber }}</p>
                    <div class="item-quantity">
                      <button (click)="decreaseQuantity($index, product)" [disabled]="product.quantity <= 1">
                        <i class="pi pi-minus"></i>
                      </button>
                      <span>{{ product.quantity }}</span>
                      <button (click)="increaseQuantity($index, product)">
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="item-price">
                    <p>${{ product.price.toFixed(2) }}</p>

                    <p-button (click)="confirmDelete($event, product, $index)" icon="pi pi-trash" severity="danger" [outlined]="true" />
                    <!-- <button class="remove-btn">
                      <i class="pi pi-trash"></i>
                    </button> -->
                  </div>
                  <div class="item-checkout-btn-wrapper">
                    <button class="item-checkout-btn">
                      <i class="pi pi-check-circle"></i>
                      Checkout
                    </button>
                  </div>
                  
                </div>
              }

            </div>
          }
          @if (productsInCart.length === 0) {
            <div class="empty-cart">
              <i class="pi pi-shopping-cart" style="font-size: 3rem"></i>
              <p>Your cart is empty</p>
              <button class="continue-btn">Continue Shopping</button>
            </div>
          }
          
          @if (productsInCart.length > 0) {
            <div class="cart-footer">
              <div class="cart-total">
                <span>Total:</span>
                <span>${{ calculateTotal().toFixed(2) }}</span>
              </div>
              <div class="cart-actions">
                <button class="checkout-btn">Checkout</button>
                <button (click)="toggleCart()" class="continue-btn">Continue Shopping</button>
              </div>
            </div>
          }
          
        </div>
        
        <div class="cart-overlay" [class.active]="isCartOpen" (click)="toggleCart()"></div>
      </div>


      <p-menu #menu [model]="items" [popup]="true">
        <ng-template let-item pTemplate="item">
          <ng-container>
            <span>{{ item.label }}</span>
          </ng-container>
          <ng-container>
            <div class="languager-wrapper" (click)="$event.stopPropagation()">
              <p>{{ "header.settingLanguage" | translate }}</p>
              <p-select
                [options]="languages"
                [(ngModel)]="selectedLanguage"
                optionLabel="name"
                placeholder="Select language"
                (onChange)="changeLanguage($event.value.code)"
              >
              </p-select>
            </div>
          </ng-container>

          <ng-container>
            <div class="mode-wrapper" (click)="$event.stopPropagation()">
              <p>{{ "header.settingMode" | translate }}</p>
              <input
                (click)="changeTheme()"
                id="checkbox-input"
                type="checkbox"
                [(ngModel)]="isChecked"
              />
              <label class="switch" for="checkbox-input">
                <svg
                  xml:space="preserve"
                  style="enable-background: new 0 0 128 128"
                  viewBox="0 0 128 128"
                  height="3em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M77.547 120.684h-5.765l-1.698 3.012a7.477 7.477 0 0 1-6.513 3.804h-.003a7.479 7.479 0 0 1-6.513-3.804l-1.698-3.012h-5.765v-4.06h27.956v4.06z"
                    style="fill: #51514c"
                  ></path>
                  <path
                    d="M77.547 113.65H49.591v-4.279h27.956v4.279zm0-11.711H49.591v4.279h27.956v-4.279zm38.587-32.576-12.209-3.271.92-3.434 12.209 3.271-.92 3.434zm-104.268 0-.92-3.434 12.209-3.271.92 3.434-12.209 3.271zm92.979-24.913-.92-3.434 12.209-3.272.92 3.434-12.209 3.272zm-81.69 0-12.209-3.272.92-3.434 12.209 3.272-.92 3.434zM94.82 25.247l-2.514-2.514 8.938-8.938 2.514 2.514-8.938 8.938zm-61.64 0-8.937-8.938 2.514-2.514 8.937 8.938-2.514 2.514zm43.358-11.618-3.434-.92L76.376.5l3.434.92-3.272 12.209zm-25.076 0L48.191 1.42 51.625.5l3.272 12.209-3.435.92z"
                    style="fill: #a7a79b"
                  ></path>
                  <path
                    d="M59.802 64.141h7.535v34.934h-7.535V64.141zm3.767-44.754c-18.485-.53-33.631 14.817-33.631 33.824 0 9.781 4.016 18.581 10.431 24.753 5.637 5.423 9.222 13.147 9.222 21.111h7.84V64.141H51.75c-4.44 0-8.051-3.612-8.051-8.051s3.612-8.051 8.051-8.051 8.052 3.612 8.052 8.051v5.681h7.535V56.09c0-4.44 3.612-8.051 8.052-8.051 4.44 0 8.051 3.612 8.051 8.051s-3.612 8.051-8.051 8.051h-5.682v34.934h7.84c0-7.964 3.584-15.688 9.222-21.111C93.184 71.792 97.2 62.992 97.2 53.211c0-19.008-15.146-34.355-33.631-33.824zM51.75 50.408a5.687 5.687 0 0 0-5.681 5.681 5.687 5.687 0 0 0 5.681 5.681h5.682v-5.681a5.688 5.688 0 0 0-5.682-5.681zM75.389 61.77h-5.682v-5.681a5.688 5.688 0 0 1 5.682-5.681 5.687 5.687 0 0 1 5.681 5.681 5.687 5.687 0 0 1-5.681 5.681z"
                    style="fill: #ffffff"
                  ></path>
                </svg>
              </label>
            </div>
          </ng-container>
        </ng-template>
      </p-menu>


      <i
        #settingIcon
        class="setting__icon pi pi-cog"
        (click)="menu.toggle($event)"
        (mouseenter)="addSpin()"
        (mouseleave)="removeSpin()"
      ></i>
    </div>
  </div>
</div>
