.detail-product-container {
  padding-top: 120px;
  background-color: #dfdbdb;
  min-height: 100vh;
  overflow-y: auto;
  .first-row {
    display: flex;
    .galleria-col {
      position: sticky;
      display: flex;
      top: 0;
      .p-galleria {
        border: none;
        .p-galleria-item {
          justify-content: unset;
          align-items: start;
          margin-left: 0.5rem;
          margin-top: 1rem;
          .main-image {
            border-radius: 6px;
            width: 80%;
            display: block;
          }
        }

        .p-galleria-thumbnails-content {
          background-color: transparent;
        }
        .p-galleria-thumbnails {
          height: 100% !important;
        }
        .p-galleria-thumbnail {
          .thumbnail-image {
            height: 70px;
            border-radius: 4px;
          }
        }
        .p-galleria-items-container {
          width: 90%;
        }

        .p-galleria-thumbnail-item {
          flex: 1 0 12% !important;
        }
        p-galleriathumbnails {
          width: 10%;
        }

        .p-galleria-thumbnails-viewport {
          height: 100% !important;
          overflow-y: auto;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    .product-infor {
      width: 100%;
      padding-top: 1.5rem;
      .product-name {
        font-weight: 500;
      }
      .product-price {
        margin-top: 6px;
      }
      .product-color-picker {
        margin-top: 6px;
        border-radius: 6px;
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
      }

      .stock-quantity {
        color: #868686;
      }

      .product-color {
        cursor: pointer;
        .product-color-image {
          width: 5rem;
          height: 7.1rem;
          border-radius: 6px;
        }
        .product-color-image.selected {
          border: 1px #000 solid;
        }
      }

      .quantity-picker-container {
        margin: 12px 0;
        display: flex;
        gap: 12px;
        .quantity-panel {
          color: #868686;
          font-weight: 500;
        }
      }

      .size-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1.5rem;
        .select-size__button {
          font-size: 1rem;
          width: 5rem;
          height: 2.6rem;
          border: 1px #ccc solid;
          border-radius: 6px;
          cursor: pointer;
          &:hover {
            border: 1px #000 solid;
          }
        }
        .select-size__button.selected {
          border: 1px #000 solid;
        }

        .select-size__button.disabled {
          color: #b6b4b4;
          border: none;
          cursor: initial;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1.5px;
            background-color: rgba(0, 0, 0, 0.3);
            transform: translateY(-50%) rotate(-26deg);
            transform-origin: center;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
            pointer-events: none;
          }
        }
      }
    }

    .buy-container {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;
      .cartBtn {
        width: 155px;
        height: 50px;
        border: none;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        color: white;
        font-weight: 500;
        position: relative;
        background-color: rgb(29, 29, 29);
        box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        overflow: hidden;

        &:active {
          transform: scale(0.96);
        }

        &:hover {
          .product {
            animation: slide-in-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
              both;
          }

          .cart {
            animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
              both;
          }
        }
      }

      .cart {
        z-index: 2;
      }

      .product {
        position: absolute;
        width: 12px;
        border-radius: 3px;
        content: "";
        left: 23px;
        bottom: 23px;
        opacity: 0;
        z-index: 1;
        fill: rgb(211, 211, 211);
      }

      @keyframes slide-in-top {
        0% {
          transform: translateY(-30px);
          opacity: 1;
        }

        100% {
          transform: translateY(0) rotate(-90deg);
          opacity: 1;
        }
      }

      @keyframes slide-in-left {
        0% {
          transform: translateX(-10px);
          opacity: 0;
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }

  .comment-row {
    width: 100%;
    margin-top: 2rem;
    .comment-card {
      .p-card-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .review-image-container {
          gap: 1rem;
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .detail-product-container {
    .first-row {
      flex-direction: row;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail-product-container {
    .first-row {
      flex-direction: column;
      .info-col {
        margin: 0 10%;
      }
      .galleria-col {
        .p-galleria {
          .p-galleria-item {
            .main-image {
              width: 100%;
              height: 90%;
            }
          }
          p-galleriathumbnails {
            width: unset;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .detail-product-container {
    .first-row {
      .galleria-col {
        position: unset;
        .p-galleria {
          .p-galleria-item {
            justify-content: center;
            margin: 0;
            .main-image {
              width: 100%;
            }
          }

          p-galleriathumbnails {
            width: 100%;
          }
          .p-galleria-thumbnails-content {
            display: flex;
          }

          .p-galleria-items-container {
            width: 100%;
          }

          .p-galleria-thumbnails-viewport {
            .p-galleria-thumbnail-items {
              overflow-x: auto;
            }
          }
        }
      }
      .buy-container {
        margin-bottom: 1rem;
      }
    }
  }
}
