<div class="container-fluid detail-product-wrapper">
  <div class="row first-row">
    <div
      class="col col-7 col-lg-7 col-md-7 offset-2 offset-lg-2 offset-md-2 galleria-col"
    >
      <p-galleria
        [value]="detailProduct.productImages"
        thumbnailsPosition="left"
        [containerStyle]="{ 'max-width': '100%' }"
        [numVisible]="detailProduct.productImages.length"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [src]="item.imageUrl"
            style="border-radius: 6px; width: 80%; display: block"
          />
        </ng-template>

        <ng-template pTemplate="thumbnail" let-item style="height: 100%">
          <div class="grid gap-4 justify-center h-full" style="height: 100%">
            <img
              class="thumbnail-image"
              [src]="item.imageUrl"
              style="width: 100%; display: block"
            />
          </div>
        </ng-template>
      </p-galleria>

      <div class="product-infor">
        <h2 class="product-name">{{ detailProduct.name }}</h2>
        <p class="product-price">{{ detailProduct.price }}$</p>
        <div class="product-color-picker">
          @for(color of productColors; track $index) {
          <div class="product-color">
            <img
              [class.selected]="color.productId == productId"
              class="product-color-image"
              [src]="color.imageUrl"
              alt="Sneaker"
            />
          </div>
          }
        </div>
        <p class="stock-quantity"></p>
        <p-scrollpanel [style]="{ width: '100%', height: '150px' }">
          <p>{{ detailProduct.description }}</p>
        </p-scrollpanel>
        <div class="select-size">
          <h3>SELECT SIZE</h3>
          <ul class="size-list">
            @for(size of sizeNumbers; track $index) {
            <li class="size-item">
              <button
                [class.selected]="selectedSize === size.sizeNumber"
                (click)="selectSize(size.sizeNumber)"
                class="select-size__button"
              >
                {{ size.sizeNumber }}
              </button>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
