<div class="not-found-page">
    <div class="not-found-content">
      <div class="image-container">
        <img src="../../../../assets/images/Not Found/404.jpg" alt="404 Not Found">
      </div>
      <div class="message">
        <h1>Oops! Page Not Found</h1>
        <p>The page you are looking for might have been removed or is temporarily unavailable.</p>
      </div>
      <div class="action-button">
        <p-button label="Go To Home Page" styleClass="p-button-rounded" routerLink="/"></p-button>
      </div>
    </div>
  </div>
  