.change-password-container {
  padding: 6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .password-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
