<div class="change-password-container">
    <p-toast></p-toast>
    @if (!sessionToken) {
        <form (ngSubmit)="submitChangePassword()" (keydown.enter)="submitChangePassword()" [formGroup]="passwordChangeForm">
            <div class="password-input-container">
                <p-floatlabel>
                    <p-password formControlName="oldPassword" [toggleMask]="true" [feedback]="false" />
                    <label for="over_label">Old Password</label>
                </p-floatlabel>
                <p-floatlabel>
                    <p-password formControlName="newPassword" [toggleMask]="true" [feedback]="false" />
                    <label for="over_label">New Passwrod</label>
                </p-floatlabel>
                <p-button (onClick)="submitChangePassword()" label="Submit" />
            </div>
        </form>
    } @else {
        <form (ngSubmit)="submitResetPassword()" (keydown.enter)="submitResetPassword()" [formGroup]="resetPasswordForm">
            <div class="password-input-container">
                <p-floatlabel>
                    <p-password formControlName="newPassword" [toggleMask]="true" [feedback]="false" />
                    <label for="over_label">New Passwrod</label>
                </p-floatlabel>
                <p-button (onClick)="submitResetPassword()" label="Submit" />
            </div>
        </form>
    }
</div>