<div class="all-order-container">
  <p-toast></p-toast>
  <div style="align-items: center;" class="date-filter-container flex gap-4">
    <p-floatlabel variant="in">
        <p-datepicker [(ngModel)]="dateValue" inputId="in_label" showIcon iconDisplay="input" selectionMode="range" [showButtonBar]="true"/>
        <label for="in_label">Enter Date To Filter</label>
    </p-floatlabel>
    <p-button (onClick)="dateFilter()" label="Filter" severity="contrast"></p-button>
  </div>
  
  <p-stepper [value]="stepValue" class="basis-[50rem]">
    <p-step-list>=
      <p-step (click)="getOrders('Pending', 1)" [value]="1">Pending</p-step>
      <p-step (click)="getOrders('Success', 2)" [value]="2"
        >Order Successful</p-step
      >
      <p-step (click)="getOrders('Delivering', 3)" [value]="3"
        >Delivering</p-step
      >
      <p-step (click)="getOrders('Delivered', 4)" [value]="4">Delivered</p-step>
    </p-step-list>
    <p-step-panels
      infiniteScroll
      [infiniteScrollDistance]="0.9"
      [infiniteScrollThrottle]="150"
      (scrolled)="onScroll()"
    >
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex">
            <div class="pending-order-container order-container">
              <p-card>
                @for(order of orders$ | async; track $index) { @if
                (order.orderStatus === 'Pending') {
                <p-card>
                  <ng-template #subtitle>
                    {{ order.orderId }}
                  </ng-template>
                  <div style="justify-content: space-between;" class="flex">
                    <div class="flex order-item">
                        <img class="order-item-img" [src]="order.imageUrl" alt="" />
                        <div class="flex order-info">
                          <p>{{ order.firstProductName }}</p>
                          <p>{{ order.totalMoney }}$</p>
                          <p class="order-info-status success">
                            {{ order.orderStatus }}
                          </p>
                        </div>
                    </div>
                    <p-select (onChange)="updateOrderStatus(order)" [options]="orderStatuses" [(ngModel)]="order.orderStatus" placeholder="Modify Order Status" class="w-full md:w-56" />
                  </div>
                  <ng-template #footer>
                    {{ order.orderDate | date}}
                  </ng-template>
                </p-card>
                } }
              </p-card>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex">
            <div class="order-container">
              <p-card>
                @for(order of orders$ | async; track $index) { @if
                (order.orderStatus === 'Success') {
                <p-card>
                  <ng-template #subtitle>
                    {{ order.orderId }}
                  </ng-template>
                  <div style="justify-content: space-between;" class="flex">
                    <div class="flex order-item">
                        <img class="order-item-img" [src]="order.imageUrl" alt="" />
                        <div class="flex order-info">
                          <p>{{ order.firstProductName }}</p>
                          <p>{{ order.totalMoney }}$</p>
                          <p class="order-info-status success">
                            {{ order.orderStatus }}
                          </p>
                        </div>
                    </div>
                    <p-select (onChange)="updateOrderStatus(order)" [options]="orderStatuses" [(ngModel)]="order.orderStatus" placeholder="Modify Order Status" class="w-full md:w-56" />
                  </div>
                  <ng-template #footer>
                    {{ order.orderDate | date}}
                  </ng-template>
                </p-card>
                } }
              </p-card>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex">
            <div class="order-container">
              <p-card>
                @for(order of orders$ | async; track $index) { @if
                (order.orderStatus === 'Delivering') {
                <p-card>
                  <ng-template #subtitle>
                    {{ order.orderId }}
                  </ng-template>
                  <div style="justify-content: space-between;" class="flex">
                    <div class="flex order-item">
                        <img class="order-item-img" [src]="order.imageUrl" alt="" />
                        <div class="flex order-info">
                          <p>{{ order.firstProductName }}</p>
                          <p>{{ order.totalMoney }}$</p>
                          <p class="order-info-status success">
                            {{ order.orderStatus }}
                          </p>
                        </div>
                    </div>
                    <p-select (onChange)="updateOrderStatus(order)" [options]="orderStatuses" [(ngModel)]="order.orderStatus" placeholder="Modify Order Status" class="w-full md:w-56" />
                  </div>
                  <ng-template #footer>
                    {{ order.orderDate | date}}
                  </ng-template>
                </p-card>
                } @else { } }
              </p-card>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel
        [value]="4"
      >
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex">
            <div class="order-container">
              <p-card>
                @for(order of orders$ | async; track $index) { @if
                (order.orderStatus === 'Delivered') {
                <p-card>
                  <ng-template #subtitle>
                    {{ order.orderId }}
                  </ng-template>
                  <div style="justify-content: space-between;" class="flex">
                    <div class="flex order-item">
                        <img class="order-item-img" [src]="order.imageUrl" alt="" />
                        <div class="flex order-info">
                          <p>{{ order.firstProductName }}</p>
                          <p>{{ order.totalMoney }}$</p>
                          <p class="order-info-status success">
                            {{ order.orderStatus }}
                          </p>
                        </div>
                    </div>
                    <p-select (onChange)="updateOrderStatus(order)" [options]="orderStatuses" [(ngModel)]="order.orderStatus" placeholder="Modify Order Status" class="w-full md:w-56" />
                  </div>

                  <ng-template #footer>
                    {{ order.orderDate | date}}
                  </ng-template>
                </p-card>
                } }
              </p-card>
            </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>
