.my-app-dark {
    .email-confirmed-page {
        background: linear-gradient(135deg, #2E2E2E, #3B3B3B, #4A4A4A)!important;
    
        .row-1-confirmed {
                .back-to-login-wrapper {
                    .back-to-login__icon {
                        color: #ffffff!important;
                    }
                    .back-title {
                        color: #6c757d;
                    }
                }
                
            }
        }
    
        
    }
    