<div class="container-fluid all-products">
  <div class="row row-1">
    <div class="col-lg-1 offset-lg-6 offset-6">
      <p-dropdown
        [options]="brandOptions"
        [(ngModel)]="selectedBrand"
        (ngModelChange)="filterProducts($event)"
        [showClear]="true"
        placeholder="Brand"
        optionLabel="brand"
      ></p-dropdown>
    </div>
    <div class="col-lg-1 offset-lg-0 offset-0">
      <p-dropdown
        [options]="categoriesOptions"
        [(ngModel)]="selectedCategory"
        [showClear]="true"
        (ngModelChange)="filterProducts($event)"
        placeholder="Category"
        optionLabel="name"
      ></p-dropdown>
    </div>
    <div class="col-lg-2 offset-lg-0 offset-0">
      <p-dropdown
        [options]="sortOptions"
        placeholder="Sort By Price"
        (onChange)="onSortChange($event)"
      ></p-dropdown>
    </div>
  </div>
  <div class="row row-2">
    <div class="col-lg-2 filter-col">
        <p-slider [min]="1" [(ngModel)]="priceFilterValue" [range]="true" id="range1"></p-slider>
        <h5 style="margin-top: 8px; text-align: end; font-size: 16px;" class="text-muted">Giá
            <span style="font-size: 0.8rem;" class="fw-700 text-dark">{{priceFilterValue[0]*50 | currency:'USD':'symbol':'1.0-0'}} -
              {{priceFilterValue[1]*50 | currency:'USD':'symbol':'1.0-0'}}
            </span>
          </h5>
        <div class="filter__button-wrapper">
            <button (click)="filterAllProducts()" class="filter__button">Filter</button>
        </div>
    </div>

    <div class="col-lg-8 offset-1 all-product-col">
      <p-dataview [value]="products" [paginator]="true" [rows]="12" [sortField]="sortField" [sortOrder]="sortOrder">
        <ng-template #list let-items>
          <div class="grid">
            @for (product of products; track $index) {
              <div class="product-item-wrapper" (click)="goToDetailProduct(product.productId, product.colorsAImages[0].colorName)">
                <img class="product-item-image" [src]="product.colorsAImages[0].thumbnailUrl" alt="404">
                <div class="product-information">
                  <h3 class="product-item-name">{{product.productName}}</h3>
                  <p class="product-item-price">{{product.price}}$</p>
                </div>
              </div>
            }
            
          </div>
        </ng-template>
        
      </p-dataview>
    </div>
  </div>
</div>
